

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}


#nav{
    padding: 15px;
    display: flex;
    background-color: rgb(33, 32, 32);
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    gap: 30px;
    font-size: 12px;
    font-weight: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#center{
    color: white;
    text-align: center;
    padding: 40px 30px;
    font-size: 30px;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_mediumtall.jpg);
    height: 90%;
    background-size: cover;
    background-position: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
#center>button{
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 70px;
    background-color: rgb(32, 32, 233);
    color: white;
    border: none;
    font-size: 17px;
}

#two{
    color: black;
    background-color: rgb(241, 237, 232);
    margin: 10px 0px;
    padding: 40px 30px;
    font-size: 30px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 70%;
    background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-air/hero_iphone_air__0gxyavihpiqu_mediumtall.jpg);
    background-position: center;
    background-size: cover;
}
#two>button{
    margin-top: 20px;
    padding: 15px 30px;
    border-radius: 70px;
    background-color: rgb(42, 42, 235);
    color: white;
    border: none;
    font-size: 17px;
}
